@import "@/global-styles/breakpoints.scss";


.allcaps {
    text-transform: uppercase;
}

p {
  font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: 140%;
}

p.text-large {
  font-size: calc(13px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: 145%;  
}

@media (max-width: $screen-md-min) {
  p.text-large {
    font-size: calc(13px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 145%;
  }
}

h1 {
  font-size: calc(64px + (1200vw - 3600px)/1300);
  font-weight: 900;
  line-height: 102%;
  // max-width: 50px;
}

@media (max-width: $screen-md-min) {
  h1 {
    font-size: calc(60px + (26 - 14) * (100vw - 300px) / (1600 - 300));
  }
}

@media (max-width: $screen-sm-min) {
  h1 {
    font-size: calc(40px + (26 - 14) * (100vw - 300px) / (1600 - 300));
  }
}

@media (max-width: $screen-lg-min) {
  h1 {
    font-size: calc(50px + (26 - 14) * (100vw - 300px) / (1600 - 300));
  }
  p {
    font-size: 12px;
  }
}

h2 {
  font-size: calc(35px + (26 - 14) * (100vw - 300px) / (1600 - 300));
  font-weight: 900;
  line-height: 102%;
  color: $black;
}

@media (max-width: $screen-md-min) {
    p {
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    p {
        font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
  }

  h3 {
    font-size: calc(13px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 900;
  }